/* app.css */

/* Reset des styles pour une meilleure cohérence entre les navigateurs */
body, h1, h2, h3, p, ul, li, button, input {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #2a2a2a;
  color: #ffffff;
  line-height: 1.6;
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center the content horizontally */
  justify-content: flex-start; /* Align content to the top */
  height: 100vh;
}

h1 {
  text-align: left; /* Align h1 to the left */
  margin-bottom: 20px; /* Add some margin-bottom to h1 */
}

.game {
  width: 100%; /* Set the width of the .game class */
  max-width: 600px; /* Set the maximum width */
  padding: 30px;
  align-items: center;
  background-color: #333333;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow items to wrap if needed */
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  background-color: #333333;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card {
  background-color: #3a3a3a;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ffffff;
}

.recto {
  font-size: 20px;
  color: #fe0a0a;
  align-items: center;
  text-align: center;
  width: 100%;
  color: #ffffff;
  padding-bottom: 15px;
  position: relative; /* Add relative positioning */
}

.recto::after {
  content: '';
  position: absolute; /* Position the pseudo-element absolutely */
  bottom: 0; /* Align at the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust to center */
  width: 40%; /* Set the width of the border */
  height: 1px; /* Set the height/thickness of the border */
  background-color: #ffffff; /* Set the color of the border */
}

button {

  padding: 12px 24px;
  font-size: 18px;
  margin-top: 15px;
  margin-right: 40px;
  margin-left: 40px;
  border: none;
  border-radius: 25px;
  background-color: #b43f0d;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.button2{
  display: inline-flex;
  padding: 12px 24px;
  font-size: 18px;
  width: 100px; /* Fixed width */
  height: 40px; /* Fixed height */
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: 40px;
  margin-left: 40px;
  border: none;
  border-radius: 25px;
  background-color: #b43f0d;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.button-container {
  margin-top: 1px; 
  margin-bottom: 20px;/* Adjust margin as needed */

}

.return-container{
  display: flex;
  margin-left: 60px;
  justify-content: center;

}

button:hover {
  background-color: #ee4c37;
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.found {
  width: 100%;
  font-size: 20px;
  text-align: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 25px;
  border: none; /* Remove border */
  background-color: transparent; /* Make background transparent */
  color: #ffffff;
}

input[type="text"]:focus {
  outline: none;
}

.not-found {
  width: 100%;
  font-size: 20px;
  text-align: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 25px;
  border: none; /* Remove border */
  background-color: transparent; /* Make background transparent */
  color: rgba(255, 255, 255, 0.518) /* Red border when found is false */
}

/* Ajout d'espacement pour séparer les éléments */
.container > * {
  margin-bottom: 20px;
}

/* Ajoutez d'autres styles selon vos besoins pour améliorer l'apparence de votre application */
